# mac stuff
*.DS_Store

# python cache files
*.pyc
*__pycache__/

# VScode files
.vscode/

# log files
*.log

# python environment files
env/

# outputs folders
out/
results/

# inputs folders
in/

# individual large files which are created by included scripts
io/usa-points*
io/world-points*
