# mac stuff
*.DS_Store

# python cache files
*.pyc
*__pycache__/

# VScode files
.vscode/

# log files
*.log

# python environment files
env/

# outputs folders
out/
results/

# inputs folders
in/

# office temp files
~$*

# individual large files which are created by included scripts
io/geo/usa-points*
io/geo/world-points*
io/geo/hsdscoords*
